.navbar .container-fluid  .navbar-brand {
  width: 5%;
  margin: 0;
  padding: 0;
}

.navbar .container-fluid  .navbar-brand img{
  width: 100%;
  margin: 0;
  padding: 0;
}

.navbar .container-fluid .nav .nav-item .nav-link{
  color: black;
  font-family: 'champagne & limousines';
  border-radius: 7px;
  transition: 0.5s;
}

.navbar .container-fluid .nav .nav-item .nav-link:hover{
  font-size: 20px;
  padding: 10px 10px;
  background-color: rgb(192, 192, 192);
}